@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	list-style: none;
	padding: 0px;
}
a{
	text-decoration: none;
}

header{
	width: 100%;
	height: 50px;
	position: sticky;
	top: 0px;
	background-color: rgba(86,79,95,0.8);
}

.navbox{
	max-width: 1200px;
	/*height: 50px;*/
	/*background-color: rgba(48,135,183,0.5);*/
	padding: 0px 20px;
	margin: 0 auto;
	display: flex;
	position: relative;
}

.logo{
	flex:1;
	/*align-items: center;
	justify-content: center;*/
	padding: 5px;
	display: flex;
}

.logo h1{
	font-size: 40px;
	font-family: forum;
	color: aliceblue;
}
.navbtn{
	flex:3;
	display: flex;
	/*background-color: rgba(252,165,166,1.00);*/
}
.nav{
	flex:2;
	/*background-color: rgba(176,203,196,1.00);	*/
}
.nav ul{
	display: flex;
	/*padding-top:18px;*/
	align-items:flex-start;
	justify-content: center;
	flex-wrap: wrap;
}
.nav li{
	font-size: 16px;
	color: aliceblue;
	/*padding-left: 25px;*/
	/*margin: 0 10px; 會造成手機板的漢堡選單內部產生10px的間隔，導致滑鼠滑入的背景色有無滿版的問題，所以改用下方padding*/
	padding: 0 10px;
	line-height: 50px;
	letter-spacing: 2px;
	justify-content: center;
	font-family:"微軟正黑體";
	cursor: pointer;
}
.nav li:hover{
	transform: scale(1.15);
	transition: all 0.3s ease-in;
}
.sign{
	flex: 1;
	/*background-color: rgba(109,224,228,1.00);*/	
	display: flex;
	align-items: center;
	justify-content:flex-end;
}


.sign a{
	/*display: flex;*/
	color: aliceblue;
}
.btn{
	margin: 0 5px;
	border: 2px solid rgba(255,255,255,1.00);
	border-radius: 15px;
	padding: 5px 10px;
}

.btn.transparent{
	background-color: transparent;
}
.btn.solid{
	background-color: rgba(143,92,111,1.00);
 
}

.btn.transparent:hover{
	background-color: rgba(143,92,111,1.00);
}
.btn.solid:hover{
	background-color: transparent;

}

.hamburbox{
	/*flex:1;*/
	/*background-color: pink;*/
	justify-content:flex-end;
	display: none; /*將漢堡選單設為隱藏*/
	position: relative;
}
.hamburmenu{
	width: 35px;
	height: 35px;
	justify-content: center;
	align-content: center;
	/*background-color: pink;*/
	position: absolute;
	top:15px;
	right:8px;
}

/*↓漢堡選單的第一根在原始碼內的標籤為TAG*/
.hamburmenu div{
	width: 28px;
	height: 3px;
	background-color: white;
	border-radius: 10px;
	position: relative;
}
/*為了不造成原始碼冗長，使用偽類寫法可以不用在原始碼內新增無意義的空標籤，直接新增漢堡第二根橫線*/
.hamburmenu div::before{
	content: "";
	position: absolute;
	top: 10px;
	right: 0px;
	width: 28px;
	height: 3px;
	background-color: white;
	border-radius: 10px;
}
/*同上，漢堡第三根橫線*/
.hamburmenu div::after{
	content: "";
	position: absolute;
	top: 20px;
	right: 0px;
	width: 28px;
	height: 3px;
	background-color: white;
	border-radius: 10px;
}

#check{
	position: absolute;
	top: 8px;
	right: 29px;
	width: 35px;
	height: 35px;
	z-index: 999;
	display: none;/*將Check box設為隱藏*/
	opacity: 0;
}

/*max-width:768px 要記得+px(單位)否則他判定不出寬度*/
@media(max-width:768px){
	.hamburbox{
		display: block;/*讓漢堡視窗在寬度768時顯示*/
	}
	#check{
		display: block;/*讓確認視窗在寬度768時顯示*/
	}
	.navbtn{
		position: fixed;/*黏住*/
		top: 50px;
		left: 0px;
		width: 100%;/*在手機預覽時為滿版*/
		height: calc(100vh - 50px);/*clac為讓DW自行計算的指令 運算符號與數值間須空格*/
		background-color:rgba(77,72,89,0.85);/*滿版選單顏色*/
		flex-direction: column;
		align-items: center;
		justify-content:center;
		transition: 0.5s; /*動畫效果*/
		transform: translateX(100%);/*版面位移將板子收入右邊*/
	}
	
	/*波浪符"~" 為連動之意 意即 從checked連動到.navbtn*/
	#check:checked~.navbtn{ 
		transform: translateX(0);
	}
	.sign{
		width: 100%;
		justify-content: center;
	}
	.logo {
		width: 100%;
		justify-content: center;
		
	}
	.nav{
		width: 100%;
	}
	.nav ul{
		flex-direction: column;
	}
	.nav li{
		width: 100%;
	}
	.nav li:hover{
		background-color:rgba(145,94,111,0.85);
	}
	.nav li:hover{
	transform: scale(1);

}
	
}

section{
	width:100vw;
	/*height: calc(100vh - 50px);*/
	height: 100vh;
	background-image:url("../img/sky-5375005.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/*.signbtn{
	width: 60px;
	height: 30px;
	position: absolute;
	right: 100px;
	top: 10px;
	border: 2px solid rgba(255,255,255,1.00);
	background-color: rgba(143,92,111,1.00);
	border-radius: 15px;
}

.registerbtn{
	width: 60px;
	height: 30px;
	position: absolute;
	right: 30px;
	top:10px;
	border: 2px solid rgba(255,255,255,1.00);
	background-color: rgba(143,92,111,1.00);
	border-radius: 15px;
}
.signbtn p{
	font-size:13px;
	color: aliceblue;
	line-height: 32px;
	text-align: center;
}
.registerbtn p{
	font-size:13px;
	color: aliceblue;
	line-height: 32px;
	text-align: center;
}
*/
